nav{
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: white;
    text-align: center;
    height: 3rem;
}

nav a{
    color: white;
    vertical-align: -webkit-baseline-middle;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
    border-radius: 1rem;
}

nav a:hover{
    background: #fafafa;
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
    color: #237fa0;
    border-bottom: 1rem solid #237fa0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}